USE [DynamicFilterDemoDb]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.09.2022 11:46:13 ******/
DROP TABLE IF EXISTS [dbo].[Users]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.09.2022 11:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Age] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Age], [IsDeleted], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (1, N'Hüccet', N'Aclan', N'Huccet37@gmail.com', 30, 1, 1, CAST(N'2022-08-06T02:43:04.883' AS DateTime), CAST(N'2022-08-26T17:25:20.260' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Age], [IsDeleted], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (2, N'Ülgen', N'Çağıran', N'Ulgen.Cagiran@gmail.com', 77, 1, 1, CAST(N'2022-06-12T16:02:28.140' AS DateTime), CAST(N'2022-08-24T12:31:50.770' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Age], [IsDeleted], [IsActive], [CreatedDate], [UpdatedDate]) VALUES (3, N'Buğra', N'Abadan', N'Bugra_Abadan@hotmail.com', 57, 0, 0, CAST(N'2022-07-12T00:41:23.697' AS DateTime), CAST(N'2022-09-08T01:06:33.263' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
